header.major
  h2= title
  p= byline
    |  
    != partial('../_partials/blog-tags', { tags: tags })

.content
  != yield
  != partial('../_partials/blog-nav')
  != partial('../_partials/disqus')

.sidebar
  section
    h3 Recent posts
    - var p = 0
    - var postList = []
    - 
      each post, slug in public.posts._data
        if post.layout !== false
          - post.slug = slug
          - postList.push(post)
    - postList = postList.reverse().slice(0,5)
    ul.alt
      each post in postList
        li
          a(href="/posts/#{ post.slug }.html")= post.title
