section
  header.major
    h2 Torgny Bjers
    p Accomplished Senior Node.js, Ruby, Meteor, PHP, Perl and Python developer
  != partial('_about.md')

  ul.tags
    li node.js
    li ruby
    li elixir
    li meteor
    li php
    li perl
    li python
    li docker
    li aws
    li ansible
    li saltstack

!= partial('_partials/contact-form-landing')
