for post, slug in public.posts._data
  if post.layout !== false
    section#one
      header.major
        h2= post.title
        if post.description
          p= post.description
            |  
            != partial('_partials/blog-tags', { tags: post.tags })
        ul.actions
          li
            a(href="/posts/#{ slug }.html").button Read More
