section#contact
  h2 Get In Touch
  p Do you have a project or idea you would like me to help you realize?
    br
    | Send me a message and I'll get back to you!
  .row
    div(class="8u 12u$(small)")
      form(method="post" action="https://formspree.io/#{ locals.email }")
        input(type="hidden" name="_next" value="#{ locals.site_url }/thanks.html")
        input(type="hidden" name="_subject" value="Contact Form: torgnybjers.com")
        input(type="text" name="_gotcha" style="display:none")
        div(class="row uniform 50%")
          div(class="6u 12u$(xsmall)")
            input(type="text" name="name" id="name" placeholder="Name")
          div(class="6u$ 12u$(xsmall)")
            input(type="email" name="email" id="email" placeholder="Email")
          div(class="12u$")
            textarea(name="message" id="message" placeholder="Message" rows="4")
        ul.actions
          li
            input(type="submit" value="Glitterbomb!")
    div(class="4u$ 12u$(small)")
      ul.labeled-icons
        li
          h3.icon.fa-mobile
            span.label Phone
          | #{ locals.phone }
