| © 1975-2016 Torgny Bjers 
br
a(href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" style="font-size:80%;border-bottom:none;")
  span.icon.fa-creative-commons  Creative Commons BY-NC-SA
