mixin stars(score)
  - var n = parseInt(score)
  - var x = 5 - n
  - if (n != score)
    - x--
  - for (i = 0; i < n; i++)
    span.icon.fa-star
  if (n != score)
    span.icon.fa-star-half-o
  - for (i = 0; i < x; i++)
    span.icon.fa-star-o

h3 Rating
if rating > 0
  p= rating
else
  ul.alt
    each score, name in rating
      li= name
        div(style="float:right;")
          span(style="color:orange")
            mixin stars(score)
