doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title #{ site_title }
    link(rel="stylesheet" href="/assets/css/landing.css")
    link(rel="alternate", type="application/rss+xml", title="#{ site_title } RSS", href="/rss.xml")

  body#top

    header#header
      a.image.avatar(href="#")
        img(src="/assets/img/avatar.jpg" alt="")
      h1
        strong Torgny Bjers
        |  farms servers in the clouds
        br 
        |  and conjures confluent code from
        br
        |  pixie dust and meteorite slag. If besought,
        br
        |  he will help you find the castle with
        br
        |  the princess.

      #main

      footer#footer
        ul.icons
          li
            a(href="#").icon.fa-linkedin
              span.label LinkedIn
          li
            a(href="#").icon.fa-twitter
              span.label Twitter
          li
            a(href="#").icon.fa-facebook
              span.label Facebook
          li
            a(href="#").icon.fa-github
              span.label Github
          li
            a(href="#").icon.fa-stack-overflow
              span.label Stack Overflow
          li
            a(href="#").icon.fa-medium
              span.label Medium
          li
            a(href="#").icon.fa-envelope-o
              span.label Email

        ul.copyright
          li © 1975-2016 Torgny Bjers
            br
            |  <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" style="font-size:80%;border-bottom:none;"><span class="icon fa-creative-commons"></span> BY-NC-SA</a>

    script(src="assets/js/jquery.min.js")
    script(src="assets/js/jquery.poptrox.min.js")
    script(src="assets/js/skel.min.js")
    script(src="assets/js/util.js")
    script(src="assets/js/main.js")
